.start-post-button {
    position: absolute;
    right: 20px;
    top: 65px;
}

.post-form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.submit-button {
    margin-top: 10px; /* Tambahkan margin di atas tombol Submit */
}