.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.icon-form-container {
    display: flex;
    justify-content: center;
}

.icon-form-container .icon {
    margin-right: 45px;
}

.form-container {
    flex-grow: 1; /* Mengatur form untuk mengisi sisa ruang secara dinamis */
}

.btn-back {
    margin-bottom: 20px;
    align-self: flex-start; 
}